@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,700;0,900;1,200;1,300;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: #e0e5ec;
  header {

    .hero {
      background-color: #2b4162;
      background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
      color: whitesmoke;
      height: 15rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: 5px 5px 10px rgba(163, 177, 198, 0.6), 
                    -5px -5px 10px rgba(255, 255, 255, 0.5);

      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  main {
    padding: 0 20%;
    .card-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      .card {
        box-shadow: 5px 5px 10px rgba(163, 177, 198, 0.6), 
                    -5px -5px 10px rgba(255, 255, 255, 0.5);
        width: 17rem;
        height: 30rem;
        margin: 2rem;

        .card-image {
          width: 17rem;
          height: 12rem;
        }

        .card-description {
          padding: 1rem;

          p {
            margin: 0.5rem;
          }
          
          .card-tech {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            
            p {
              font-size: 10px;
              margin: 0.3rem;
              padding: 0.3rem;
              background-color: rgb(162, 210, 252);
            }
          }
        }
      }
    }
  }
}

