// @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: "neontubes";
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2")
      format("woff2"),
    url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff")
      format("woff"),
    url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

$ruler: 16px;
$white: #feeeee;
$color-bg: #444444;
$color-shadow: #141414;
$color-white: #212121;

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  // font-family: "Source Sans Pro", sans-serif;
  // font-family: "Oswald", sans-serif;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: $color-bg;

  header {
    position: relative;
    height: auto;

    .hero {
      min-height: 20rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          color: #ffd9e2;
          text-shadow: 0 0 0 transparent, 0 0 10px #4666FF,
            0 0 20px  rgba(35,51,127, 0.7), 0 0 40px #4666FF, 0 0 100px #4666FF,
            0 0 200px #4666FF, 0 0 300px #4666FF, 0 0 500px #4666FF,
            0 0 1000px #4666FF;
          -webkit-animation: blink 4s infinite alternate;
          animation: blink 4s infinite alternate;
          font-family: "neontubes";

          &:nth-child(1) {
            font-size: 3rem;
          }

          &:nth-child(2) {
            font-size: 5rem;
          }

          &:nth-child(3) {
            font-size: rem;
          }
        }
      }
    }
  }

  main {
    padding: 0 2rem;
    color: $color-white;
    .card-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      .card {
        background: linear-gradient(145deg, #494949, #3d3d3d);
        box-shadow:  26px 26px 52px #1b1b1b,
                     -26px -26px 52px #6d6d6d;
        width: 18rem;
        height: 32rem;
        margin: 2rem;
        overflow: hidden;
        // border: 5px solid $white;
        // border-style: double;
        color: $white;
        letter-spacing: 1px;

        &:hover {
          box-shadow: -2px 0px 11px 6px rgba(70,102,255,0.92);
        }

        .card-image {
          width: 18rem;
          height: 12rem;

          &:hover {
            transform: scale(1.1);
            transition: 0.5s ease-out;
            overflow: hidden;
          }
        }

        .card-description {
          padding: 1rem;

          p {
            margin: 0.5rem;
          }
          .preview {
            margin-top: 5%;
            // text-align: center;
            .preview-button {
              padding: 5px;
              border: 0;
              border-radius: 5px;
              font-weight: 500;
              &:hover {
                // border: 2px solid #4666FF;
                box-shadow: -2px 0px 11px 6px rgba(70,102,255,0.92);
                letter-spacing: 1px;
                font-weight: 600;
              }
            }

          }
          

          .card-tech {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 5%;
            p {
              color: black;
              letter-spacing: 0.1rem;
              font-size: 10px;
              margin: 0.3rem;
              padding: 0.3rem;
              background-color: rgb(209, 207, 207);
            }
          }
        }
      }
    }
  }
}

// KEYFRAMES

@keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}
